*,
*::before,
*::after {
  box-sizing: border-box
}

html {
  font-size: 18px;
}

html,
body {
 overflow-x: hidden;
}

body {
  font-size: 1rem;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.text-title {
    font-family: sans-serif;
    
}
.about-page ,
.skill{
  font-size: 15px;
  font-family: sans-serif;
}


.text-grid{
   margin-right: 220px;
   padding-right: 220px;
   font-family: serif;
  }
#buttonNoriss{
  width: 100px;
}
body{
  
  margin-left: 100px;
  margin-right: 100px;
  
  max-width: 1250px;
  min-height: 969px;
}
